<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Inicio</title>
</head>
<body>
	<h1>Bienvenido</h1>
	<br>
	<a href="/productor">Insertar un productor</a>
	<br>
	<a href="/finca">Insertar una finca</a>
	<br>
	<a href="/productor/search">Buscar un productor</a>
	<br>
	<a href="/productor/list">Lista de productores</a>
	<br>
	<a href="/cafe">Insertar café</a>
</body>
</html>