<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Submitted Café</title>
</head>
<body>
	<h2>Información</h2>
	<p th:text="'Id: '					+ ${cafe.Id}" />
	<p th:text="'Nombre ' 				+ ${cafe.Nombre}" />
	<p th:text="'Descipción ' 			+ ${cafe.Descripcion}" />
	<a href="/cafe">Ingresar un nuevo café</a>
	<a href="/cafe/list">Ver café registrados</a>
	<a href="/">Home</a>
</body>
</html>