<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Submitted Finca</title>
</head>
<body>
	<h2>Información</h2>
	<p th:text="'Id: '					+ ${finca.Id}" />
	<p th:text="'Nombre ' 				+ ${finca.Nombre}" />
	<p th:text="'Descipción ' 			+ ${finca.Descripcion}" />
	<a href="/finca">Ingresar una nueva finca</a>
	<a href="/finca/list">Ver fincas registradas</a>
	<a href="/">Home</a>
</body>
</html>