<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Productor</title>
</head>
<body>
	<h2>Informacion</h2>
	<a href="/">Home</a>
	<a href="/productor/list">Lista de productores</a>
	<p th:text="'Id: '					+ ${productor.id}" />
	<p th:text="'Cedula: ' 				+ ${productor.cedula}" />
	<p th:text="'Empresa: ' 			+ ${productor.empresa}" />
	<p th:text="'Nombre: ' 				+ ${productor.nombre}" />
	<p th:text="'Provincia: ' 			+ ${productor.provincia}" />
	<p th:text="'Canton: ' 				+ ${productor.canton}" />
	<p th:text="'Distrito: ' 			+ ${productor.distrito}" />
	<p th:text="'Direccion Nominal: ' 	+ ${productor.direccionNominal}" />
	<br>
	<h2>Fincas</h2>
	<ul>
		<div th:each="entry,status : ${fincas}">
			<li>
				<h4>
					<span th:text="${entry.id}">Id</span>
				</h4>
				<p>
					<span th:text="${entry.nombre}">Nombre</span>
				</p>
				<a th:href="@{/productor/__${productor.id}__/finca/view/__${entry.id}__}"> <span>Ver</span></a>
			</li>
		</div>
	</ul>
	<br>
	<a th:href="@{/productor/__${productor.id}__/finca}">Insertar una finca</a>
</body>
</html>